@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f8f8;
}

@layer base {
  @font-face {
    font-family: "Helvetica Neue";
    src: local("Helvetica Neue");
    font-weight: 400;
  }

  @font-face {
    font-family: "Helvetica Neue";
    src: local("Helvetica Neue Bold");
    font-weight: 700;
  }

  * {
    font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

